.data-tabel {
	width: 75%;
	margin: 1% 2% 2% 2%;
}
.data-tabel h2 {
	text-align: center;
	margin-bottom: 4%;
}

.data-tabel .css-1azl6jz-MuiTableCell-root {
	text-align: center;
}

.data-tabel .css-1ygcj2i-MuiTableCell-root {
	text-align: center;
}
